<h1> I Ching - chaos meditation </h1>

This project is intended to illustrate a creative process,
 to challenge assumptions and provide a teachable moment.

<h2> Greetings. it is <%= Time.now %> </h2>

<strong> Think and <a href="/cast/">Ask</a> </strong>