<h1> I Ching - chaos meditation </h1>

This project is intended to illustrate a creative process,
 to challenge assumptions and provide a teachable moment.

<h2 onmouseover="TrackPosition(event);" ontouchmove="TrackPosition(event);"> Greetings. it is <%= Time.now %> </h2>

<strong> Think and <a id="cast" href="/cast/0">Ask</a> </strong>

<script>
  var seed_human_random = 1;
  function TrackPosition(event) {
    seed_human_random = seed_human_random + (event.movementX * event.movementY);

    var newref  = document.getElementById("cast").href + seed_human_random;
    var link = document.getElementById("cast");
    link.setAttribute("href", newref);
  }
</script>
