<h1> I Ching - chaos meditation </h1>

This project is intended to illustrate a creative process,
 to challenge assumptions and provide a teachable moment.

<h2> Greetings. it is <%= Time.now %> </h2>

<strong onmouseover="TrackPosition(event);"> Think and <a id="cast" href="/cast/">Ask</a> </strong>

<script>
  var seed_human_random = 0.0;
  function TrackPosition(event) {
    seed_human_random = seed_human_random + event.clientX;
    seed_human_random = seed_human_random + event.clientY;
    var newref  = document.getElementById("cast").href + seed_human_random;
    var link = document.getElementById("cast");
    link.setAttribute("href", newref);
  }
</script>