<!DOCTYPE html>
<html lang="en">
	<head>
	    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA//36AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREAAAAAERABERAAAAARAAAREQAAABEAABEREAAAERABEREQAAABERERERAAAAAREREREAAAAAAAAREQAAAAAAAAERAAAAABEAABEAAAABERAAEQAAAAEREAAQAAAAABEAAAAAAAAAAAAAAAAAAAAAAAAADwDwAA4AcAAMADAACAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAAwAMAAOAHAADwDwAA" rel="icon" type="image/x-icon" />
		<style> body {font-family: monospace}</style>
        <meta name="I-Ching" content="programmed by: Alfonso Adriasola">
		<title>I-Ching : Method of Sixteen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
      <%= yield %>
    </body>
</html>